            <li class="user collection-item" id='{{username}}'>
              <img width="150" src="/assets/images/noAvatar.jpg" alt="">
              <span class="title">{{username}}</span>
              <p class="is-vip">{{vip}}</p>
              </p>
            </li>